name: NodeZeroV2 Tox Tests
on: [push, pull_request]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Setup Python 3.11
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'
    - name: Install
      run: pip install pytest tox
    - name: Test Gates
      run: pytest -v
